@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 160%;
  font-size: 14px;
  color: white;
  margin: 0 auto 4em auto;
  /* background-color: #bebebe; */
  background: linear-gradient(135deg, rgba(149, 120, 211, 1) 0%, rgba(39, 170, 225, 1) 100%);
}

path.link {
  fill: none;
  stroke-width: 3px;
}

.node:not(:hover) .nodetext {
  display: none;
}

h1 {
  font-size: 34px;
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: normal;
}

h2, h3, h4 {
  font-size: 19px;
  margin: 5px 0;
  font-weight: normal;
}

header {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.imagelg {
  padding-top: 20px;
}

.imagesm {
  padding-top: 145px;
  padding-left: 20px;
}

a:link {
  color: #f6cf3f;
  text-decoration: none;
}

a:visited {
  color: #f6cf3f;
}

a:hover {
  color: #ff9f19;
  text-decoration: underline;
}

a:active {
  color: #ff9f19;
}

/* Style The Dropdown Button */

.dropbtn {
  background-color: #bebebe;
  color: #202020;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
  color: #4a4f55;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
  background-color: #27aae1;
}